<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.custom.znck.app</package>
    <name>MaterialLedRelRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>622e7816-aec0-463e-b300-f180ecdb1620</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>7221eafd-3a4f-45a5-a4e1-f577dd62e11b</id>
            <parentID>622e7816-aec0-463e-b300-f180ecdb1620</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>81ea5a2a-8b9e-4d8a-a861-80e1adf49699</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>81ea5a2a-8b9e-4d8a-a861-80e1adf49699</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>8c7b4e90-1090-4907-9db8-03edcdee60ff</id>
            <parentID>622e7816-aec0-463e-b300-f180ecdb1620</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>b4fe989c-7d4d-4b0d-b95f-fd05fefb432b</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>2917a6cb-e525-4334-bb48-5b0b87983c82</id>
                        <expressionID>f456ecf1-b054-4591-991c-f076647e6521</expressionID>
                    </parameter>
                    <parameter>
                        <id>33c35765-1b6e-4b56-832e-d48c1dccfbd5</id>
                        <expressionID>f52b700e-7d98-4997-9b9d-d3b0b4797f0f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b4fe989c-7d4d-4b0d-b95f-fd05fefb432b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>f456ecf1-b054-4591-991c-f076647e6521</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>3c1bf63a-8064-47ed-b198-3e32df9a5ffc</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>3c1bf63a-8064-47ed-b198-3e32df9a5ffc</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>f52b700e-7d98-4997-9b9d-d3b0b4797f0f</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>fd543bc6-cec9-433b-bb5a-bb972cb9c192</id>
            <parentID />
            <source>entrys.model=entrys.material.model</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>f74934c6-aa98-463b-822b-4da96330bfcc</id>
            <parentID>fd543bc6-cec9-433b-bb5a-bb972cb9c192</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>923fdd93-19ce-4d3b-afe5-0b5606598f1e</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>923fdd93-19ce-4d3b-afe5-0b5606598f1e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"model")</value>
        </simpleExpression>
        <simpleExpression>
            <id>6482ae37-35c4-4d0b-9c47-7f61a076dc95</id>
            <parentID>fd543bc6-cec9-433b-bb5a-bb972cb9c192</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>6d7279ab-7e82-4964-9409-3742146df578</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>9d7d4c38-e4ce-4576-86e6-cd9894b9a600</id>
                        <expressionID>2764f119-8a3e-45a7-98fa-6077ae5e7086</expressionID>
                    </parameter>
                    <parameter>
                        <id>dda37cb7-f157-4ead-afa1-3531980d8adc</id>
                        <expressionID>98c36ec0-c84d-4aeb-9b98-9655f600f85e</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>6d7279ab-7e82-4964-9409-3742146df578</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>2764f119-8a3e-45a7-98fa-6077ae5e7086</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>e2c13163-e81f-4ff1-a0e8-cd10b01b47d6</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>e2c13163-e81f-4ff1-a0e8-cd10b01b47d6</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>98c36ec0-c84d-4aeb-9b98-9655f600f85e</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>model</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>a687ac30-a7c8-4d14-9597-c14cef3d94f1</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>622e7816-aec0-463e-b300-f180ecdb1620</expressionID>
        </action>
        <action>
            <id>ce230c88-2e3c-43bb-8161-58c8b199ebd8</id>
            <name>entrys_model_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_model_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_model_ActionInfo].description</description>
            <expressionID>fd543bc6-cec9-433b-bb5a-bb972cb9c192</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>entrys_materialName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="a687ac30-a7c8-4d14-9597-c14cef3d94f1" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>entrys_model_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_model_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_model_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="ce230c88-2e3c-43bb-8161-58c8b199ebd8" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_materialName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_materialName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_model_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].actions.action[entrys_model_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_model_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_model_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_model_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.znck.app.MaterialLedRelRuleSet].rules.conditionRule[entrys_model_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

