<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.feedfactory.app</package>
    <name>FeedBusinessDailyRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>720b974b-7d2a-4750-b2c0-46c8c126eb2a</id>
            <parentID />
            <source>entrys.incubatorName=entrys.incubator.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>ac823a53-cd68-4e49-b287-b428d6a9efc8</id>
            <parentID>720b974b-7d2a-4750-b2c0-46c8c126eb2a</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>91a44de4-8ce6-41d3-8def-1729598c1551</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>91a44de4-8ce6-41d3-8def-1729598c1551</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"incubatorName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>ea228e0f-b5b0-420e-ac86-9c150691f9bb</id>
            <parentID>720b974b-7d2a-4750-b2c0-46c8c126eb2a</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>95b7f965-16b7-4688-918d-d877d3201337</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>11c76acd-8ff4-4bf0-85ef-ab0e42195945</id>
                        <expressionID>c6341c27-990e-403c-a4ae-255cffec9467</expressionID>
                    </parameter>
                    <parameter>
                        <id>55f93f4c-d5b4-4d70-89c6-642ee26bc782</id>
                        <expressionID>fdf552fd-acef-458d-9491-c30ace753f54</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>95b7f965-16b7-4688-918d-d877d3201337</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c6341c27-990e-403c-a4ae-255cffec9467</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>93f34e2a-df7a-432e-a557-53c570738a6f</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>93f34e2a-df7a-432e-a557-53c570738a6f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"incubator")</value>
        </simpleExpression>
        <simpleExpression>
            <id>fdf552fd-acef-458d-9491-c30ace753f54</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>d2277f03-b7ea-427f-b6f9-d062906eaad2</id>
            <parentID />
            <source>entrys.babyChickBatchName=entrys.babyChickBatch.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>69cc9500-6209-408a-8399-c0f02ea7b8e7</id>
            <parentID>d2277f03-b7ea-427f-b6f9-d062906eaad2</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>318d5023-d4e8-479b-a1c9-548d62a910db</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>318d5023-d4e8-479b-a1c9-548d62a910db</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"babyChickBatchName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>dc67d8e7-249a-423a-899b-a686de9eadc5</id>
            <parentID>d2277f03-b7ea-427f-b6f9-d062906eaad2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>a013a310-0895-467a-a6aa-b2804e8ddff8</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>9e5761d3-e716-4818-86f1-f2318f16967f</id>
                        <expressionID>9fa9fe7e-5958-4730-a1a8-db99efcbdede</expressionID>
                    </parameter>
                    <parameter>
                        <id>a336c255-2160-4134-a3b4-2c21df0f10f0</id>
                        <expressionID>3f914522-570d-4fb1-a3db-e7bd643d2915</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>a013a310-0895-467a-a6aa-b2804e8ddff8</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>9fa9fe7e-5958-4730-a1a8-db99efcbdede</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>80133db5-d332-4a8f-a769-30067891352a</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>80133db5-d332-4a8f-a769-30067891352a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"babyChickBatch")</value>
        </simpleExpression>
        <simpleExpression>
            <id>3f914522-570d-4fb1-a3db-e7bd643d2915</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>38c63063-99f2-42fb-8616-7221b4a1d404</id>
            <name>entrys_incubatorName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_incubatorName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_incubatorName_ActionInfo].description</description>
            <expressionID>720b974b-7d2a-4750-b2c0-46c8c126eb2a</expressionID>
        </action>
        <action>
            <id>c75da54a-4898-4b85-a57f-53df9bbfc4c8</id>
            <name>entrys_babyChickBatchName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_babyChickBatchName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_babyChickBatchName_ActionInfo].description</description>
            <expressionID>d2277f03-b7ea-427f-b6f9-d062906eaad2</expressionID>
        </action>
    </actions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_babyChickBatchName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_babyChickBatchName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_incubatorName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].actions.action[entrys_incubatorName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.feedfactory.app.FeedBusinessDailyRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

