<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.weighbridge.app</package>
    <name>QcBillRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>0e3e67fb-e320-423b-8deb-42739c3d46b7</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>986c37d1-56a4-4b0c-81b6-e29d98909b2b</id>
            <parentID>0e3e67fb-e320-423b-8deb-42739c3d46b7</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>f57a736c-573f-4724-ab2f-1ee34d28d577</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f57a736c-573f-4724-ab2f-1ee34d28d577</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>eadc9c04-52f0-4881-90ae-5c1f2a8b2269</id>
            <parentID>0e3e67fb-e320-423b-8deb-42739c3d46b7</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>c75e0b32-4e7b-466a-89f9-f952b73a594d</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>0421812a-5c70-40a8-b878-a039a2ce66b5</id>
                        <expressionID>b1efc441-97aa-4f24-b6f3-a7afde71ae76</expressionID>
                    </parameter>
                    <parameter>
                        <id>4906f40f-d397-4fd5-8390-1851d1f39e68</id>
                        <expressionID>af815d23-c42d-43b0-b236-45ad5c55b7bb</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>c75e0b32-4e7b-466a-89f9-f952b73a594d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>b1efc441-97aa-4f24-b6f3-a7afde71ae76</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>65e36aba-ba87-4c35-9b41-b4c182e8f1f7</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>65e36aba-ba87-4c35-9b41-b4c182e8f1f7</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>af815d23-c42d-43b0-b236-45ad5c55b7bb</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>7e31f9ce-9c25-4dde-950a-e2ce7159ff97</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>0e3e67fb-e320-423b-8deb-42739c3d46b7</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>entrys_materialName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="7e31f9ce-9c25-4dde-950a-e2ce7159ff97" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].actions.action[entrys_materialName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.weighbridge.app.QcBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

