<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.breed.app</package>
    <name>HenhouseRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>8ca84476-f323-492e-8dcf-4a27fe6e503a</id>
            <parentID />
            <source>farmStoorg=farm.stoOrg.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>f767a21e-550e-4c81-884f-9d3c2b734d7e</id>
            <parentID>8ca84476-f323-492e-8dcf-4a27fe6e503a</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>2e3db8b8-921e-4612-99dc-9c42ff1934c4</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>2e3db8b8-921e-4612-99dc-9c42ff1934c4</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtfarmStoorg</value>
        </simpleExpression>
        <simpleExpression>
            <id>df32c99d-6ad5-4a43-a4f2-a2c5993423f7</id>
            <parentID>8ca84476-f323-492e-8dcf-4a27fe6e503a</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>04a3dd0d-5636-4e5b-b49f-953f470e63b4</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>4db424f1-4654-489a-8ae0-2fd62a246df5</id>
                        <expressionID>269f9b3c-f1e4-4819-977b-ac655e478979</expressionID>
                    </parameter>
                    <parameter>
                        <id>e4783efb-1f18-41df-b3a9-e4602501eebe</id>
                        <expressionID>d1948026-d454-4d3c-90c1-847001176207</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>04a3dd0d-5636-4e5b-b49f-953f470e63b4</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>269f9b3c-f1e4-4819-977b-ac655e478979</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>54ec9910-0342-4853-a806-2786fec283d8</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>54ec9910-0342-4853-a806-2786fec283d8</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtfarm</value>
        </simpleExpression>
        <simpleExpression>
            <id>d1948026-d454-4d3c-90c1-847001176207</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>stoOrg.name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>e888089d-3e57-425a-b484-cc53f530c3cc</id>
            <name>Henhouse_farmStoorg_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].actions.action[Henhouse_farmStoorg_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].actions.action[Henhouse_farmStoorg_ActionInfo].description</description>
            <expressionID>8ca84476-f323-492e-8dcf-4a27fe6e503a</expressionID>
        </action>
    </actions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].actions.action[Henhouse_farmStoorg_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_stoOrg" />
            <lang locale="zh_HK" value="攜帶字段屬性_stoOrg" />
            <lang locale="zh_TW" value="攜帶字段屬性_stoOrg" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].actions.action[Henhouse_farmStoorg_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.breed.app.HenhouseRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

