<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.custom.wages.app</package>
    <name>SeniorityBonusRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>bb14b922-b013-42ee-92e8-413be485bad1</id>
            <parentID />
            <source>Entry.personName=Entry.person.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>de6329a1-1e83-4798-9f18-7a65b9e2f0ac</id>
            <parentID>bb14b922-b013-42ee-92e8-413be485bad1</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>50837ef0-e865-4e5d-8eca-3f0ca60663bf</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>50837ef0-e865-4e5d-8eca-3f0ca60663bf</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry.getCell(rowIndex,"personName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>53b716a0-e179-4f60-bda5-aa70d2d08cea</id>
            <parentID>bb14b922-b013-42ee-92e8-413be485bad1</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>4ea8f141-94aa-473f-bc6e-41fb23645e73</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>88541f12-6cb6-4453-b255-1bf55cbf149b</id>
                        <expressionID>c35a7224-7ac2-424f-9597-55c982c22daa</expressionID>
                    </parameter>
                    <parameter>
                        <id>ad93351c-db16-4a02-a5da-ff402e7782e1</id>
                        <expressionID>ee5938b3-34de-4611-86b7-ccfcd1a9bf1c</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>4ea8f141-94aa-473f-bc6e-41fb23645e73</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c35a7224-7ac2-424f-9597-55c982c22daa</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>9398e89b-0309-4873-a6be-b5cc400326c3</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9398e89b-0309-4873-a6be-b5cc400326c3</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry.getCell(rowIndex,"person")</value>
        </simpleExpression>
        <simpleExpression>
            <id>ee5938b3-34de-4611-86b7-ccfcd1a9bf1c</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>27cd9af0-d702-4c32-9db1-fcbb48bd158b</id>
            <name>Entry_personName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].actions.action[Entry_personName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].actions.action[Entry_personName_ActionInfo].description</description>
            <expressionID>bb14b922-b013-42ee-92e8-413be485bad1</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>Entry_personName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].rules.conditionRule[Entry_personName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].rules.conditionRule[Entry_personName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="27cd9af0-d702-4c32-9db1-fcbb48bd158b" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].actions.action[Entry_personName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].actions.action[Entry_personName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].rules.conditionRule[Entry_personName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].rules.conditionRule[Entry_personName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].rules.conditionRule[Entry_personName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="person" />
            <lang locale="zh_CN" value="person" />
            <lang locale="zh_TW" value="person" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.custom.wages.app.SeniorityBonusRuleSet].rules.conditionRule[Entry_personName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

