<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.stocking.processbizill.app</package>
    <name>BreedContractRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>9db7f166-6714-41c3-91cb-006245d15005</id>
            <parentID />
            <source>BreedEntry.breedDataName=BreedEntry.breedDate.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>67d89e2d-0542-4eec-a10e-56ac02318499</id>
            <parentID>9db7f166-6714-41c3-91cb-006245d15005</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9a6afe63-d026-4238-bdce-550d01252027</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9a6afe63-d026-4238-bdce-550d01252027</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtBreedEntry.getCell(rowIndex,"breedDataName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>3807c5b3-9c48-445b-88db-bd35a9870981</id>
            <parentID>9db7f166-6714-41c3-91cb-006245d15005</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>bd33f633-6a66-4b1e-b05a-b0ebbbaff92c</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>16d50363-d71e-4126-87d8-5b2b543a8438</id>
                        <expressionID>bcd0edef-f9cd-47ae-84be-b78975d6b6fb</expressionID>
                    </parameter>
                    <parameter>
                        <id>4202e88e-7aaf-4443-9a79-bd8e14be81b6</id>
                        <expressionID>2576f475-e90d-491a-937a-ee73f8d31d42</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bd33f633-6a66-4b1e-b05a-b0ebbbaff92c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>bcd0edef-f9cd-47ae-84be-b78975d6b6fb</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>fa701ebe-c964-40c7-9e70-0695aede1e09</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>fa701ebe-c964-40c7-9e70-0695aede1e09</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtBreedEntry.getCell(rowIndex,"breedDate")</value>
        </simpleExpression>
        <simpleExpression>
            <id>2576f475-e90d-491a-937a-ee73f8d31d42</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>9c7c86ad-40ee-46be-af53-412aca37105b</id>
            <name>BreedEntry_breedDataName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].description</description>
            <expressionID>9db7f166-6714-41c3-91cb-006245d15005</expressionID>
        </action>
    </actions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.BreedContractRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

