<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.stocking.processbizill.app</package>
    <name>EggRecycleRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>9db7f166-6714-41c3-91cb-006245d15005</id>
            <parentID />
            <source>BreedEntry.breedDataName=BreedEntry.breedDate.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>67d89e2d-0542-4eec-a10e-56ac02318499</id>
            <parentID>9db7f166-6714-41c3-91cb-006245d15005</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9a6afe63-d026-4238-bdce-550d01252027</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9a6afe63-d026-4238-bdce-550d01252027</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtBreedEntry.getCell(rowIndex,"breedDataName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>3807c5b3-9c48-445b-88db-bd35a9870981</id>
            <parentID>9db7f166-6714-41c3-91cb-006245d15005</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>bd33f633-6a66-4b1e-b05a-b0ebbbaff92c</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>16d50363-d71e-4126-87d8-5b2b543a8438</id>
                        <expressionID>bcd0edef-f9cd-47ae-84be-b78975d6b6fb</expressionID>
                    </parameter>
                    <parameter>
                        <id>4202e88e-7aaf-4443-9a79-bd8e14be81b6</id>
                        <expressionID>2576f475-e90d-491a-937a-ee73f8d31d42</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bd33f633-6a66-4b1e-b05a-b0ebbbaff92c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>bcd0edef-f9cd-47ae-84be-b78975d6b6fb</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>fa701ebe-c964-40c7-9e70-0695aede1e09</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>fa701ebe-c964-40c7-9e70-0695aede1e09</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtBreedEntry.getCell(rowIndex,"breedDate")</value>
        </simpleExpression>
        <simpleExpression>
            <id>2576f475-e90d-491a-937a-ee73f8d31d42</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>0e05e7ef-4c27-426d-9467-3ea986ac0318</id>
            <parentID>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>b0cee735-fa59-4789-b531-eb4fd5d76e6e</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>b0cee735-fa59-4789-b531-eb4fd5d76e6e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>abff4fc9-e193-4e8c-b6ee-fd55c976fddf</id>
            <parentID>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3c96bd8c-ac18-4ff5-9ab3-3f2380971d14</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>7907876c-05cf-44b9-b970-eec224671e9a</id>
                        <expressionID>bddae08f-96df-4fc1-94c8-552df6aa464c</expressionID>
                    </parameter>
                    <parameter>
                        <id>222c1cb4-6607-4470-816a-51599a6aab2c</id>
                        <expressionID>bc93c8bf-41eb-4c20-86f7-717adf041647</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3c96bd8c-ac18-4ff5-9ab3-3f2380971d14</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>bddae08f-96df-4fc1-94c8-552df6aa464c</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>731e2bda-3166-4943-bcc9-207d55e992e1</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>731e2bda-3166-4943-bcc9-207d55e992e1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>bc93c8bf-41eb-4c20-86f7-717adf041647</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</id>
            <parentID />
            <source>entrys.model=entrys.material.model</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>ea27c008-41aa-4e48-83ec-0a699d4d9259</id>
            <parentID>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>5cd995ed-70f6-4163-96a6-e3d0f1d1ba9d</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>5cd995ed-70f6-4163-96a6-e3d0f1d1ba9d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"model")</value>
        </simpleExpression>
        <simpleExpression>
            <id>c1bed17f-a0e3-4994-a3ff-2086385734e0</id>
            <parentID>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3f3f7895-73de-4352-9eea-8e27ca0f469f</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>0d3ee0b5-da61-4b65-ae97-d456cf456dd6</id>
                        <expressionID>8cea67f4-cdaa-4405-8fbe-519e307ba20b</expressionID>
                    </parameter>
                    <parameter>
                        <id>0f8981d8-732d-4fed-87e5-3b4375a4b624</id>
                        <expressionID>77a0fd09-9428-4b00-9093-834921b973f8</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3f3f7895-73de-4352-9eea-8e27ca0f469f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>8cea67f4-cdaa-4405-8fbe-519e307ba20b</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>0ab4dc60-39a2-4564-bf78-4e1208151a71</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>0ab4dc60-39a2-4564-bf78-4e1208151a71</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>77a0fd09-9428-4b00-9093-834921b973f8</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>model</value>
        </simpleExpression>
        <groupExpression>
            <id>ce7e129c-5c57-4d64-873d-eb3e6d71d0f3</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>ea6f2dc0-1ca8-45b5-b96b-312fd4a19b90</id>
            <parentID>ce7e129c-5c57-4d64-873d-eb3e6d71d0f3</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>ad52660d-84c5-465f-b156-d8124d9fe144</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>ad52660d-84c5-465f-b156-d8124d9fe144</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>7c23d547-fc6f-46a2-8acf-4b33daaad5c9</id>
            <parentID>ce7e129c-5c57-4d64-873d-eb3e6d71d0f3</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>af94e96e-7f3f-46c9-948f-5ceae8a14519</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>c192cf5b-ab1d-4175-97f6-2148574fb50b</id>
                        <expressionID>ba0cc8e1-8e07-43b2-8037-b9b6eba79133</expressionID>
                    </parameter>
                    <parameter>
                        <id>4eb19cfd-f726-43dc-995f-0ac90d76c890</id>
                        <expressionID>c3b1b2c2-8c43-49ed-a38b-982c678258c0</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>af94e96e-7f3f-46c9-948f-5ceae8a14519</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>ba0cc8e1-8e07-43b2-8037-b9b6eba79133</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>c516d525-8d98-4313-8574-92c71a15a69b</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>c516d525-8d98-4313-8574-92c71a15a69b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>c3b1b2c2-8c43-49ed-a38b-982c678258c0</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>7e7d781c-b595-4374-b0cb-0590a50e0296</id>
            <parentID />
            <source>entrys.unit = entrys.material.baseUnit</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>46817b4d-2052-4697-a5b3-32b242a84fc5</id>
            <parentID>7e7d781c-b595-4374-b0cb-0590a50e0296</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType />
            <value />
            <property>
                <ownerID>4bbe5542-b13f-4d3a-a3d6-7e62a779e5ab</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>4bbe5542-b13f-4d3a-a3d6-7e62a779e5ab</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"unit")</value>
        </simpleExpression>
        <simpleExpression>
            <id>e0b7f79e-5cf4-436e-a26c-2afcfc7d8e4f</id>
            <parentID>7e7d781c-b595-4374-b0cb-0590a50e0296</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType />
            <value />
            <method>
                <ownerID>503df8f4-8a16-43c2-8ae6-94bf49ab54b5</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>59a9dc25-5796-450f-8e52-21de03626cb2</id>
                        <expressionID>4914c97f-5a4b-478e-bf67-8907edd4ad77</expressionID>
                    </parameter>
                    <parameter>
                        <id>05ea7723-cff7-493e-8009-e0879bd445fa</id>
                        <expressionID>ce39951d-b2d9-44bb-8de3-d058882370b5</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>503df8f4-8a16-43c2-8ae6-94bf49ab54b5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>4914c97f-5a4b-478e-bf67-8907edd4ad77</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>3f45ae59-15fe-4191-88c4-478139169bd1</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>3f45ae59-15fe-4191-88c4-478139169bd1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>ce39951d-b2d9-44bb-8de3-d058882370b5</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>baseUnit</value>
        </simpleExpression>
        <groupExpression>
            <id>e79645ae-0e82-4bf6-907b-af1f35d9aff7</id>
            <parentID />
            <source>[entrys.receiveAmout] = [entrys.qty] * [entrys.receivePrice]</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>2d02a0fd-d0e8-464b-b2f5-701bb40d2dd6</id>
            <parentID>e79645ae-0e82-4bf6-907b-af1f35d9aff7</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>2ae3a130-7198-4f1e-8121-92a1f9900854</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>2ae3a130-7198-4f1e-8121-92a1f9900854</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"receiveAmout")</value>
        </simpleExpression>
        <groupExpression>
            <id>a5e4510b-05fc-4335-bad4-6d992e419ebf</id>
            <parentID>e79645ae-0e82-4bf6-907b-af1f35d9aff7</parentID>
            <source />
            <operator>*</operator>
        </groupExpression>
        <simpleExpression>
            <id>a71fbbc1-0c99-4795-abb2-c6135e456490</id>
            <parentID>a5e4510b-05fc-4335-bad4-6d992e419ebf</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>54f5c881-11a4-444b-84b1-b0b6387784cd</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>54f5c881-11a4-444b-84b1-b0b6387784cd</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"qty")</value>
        </simpleExpression>
        <simpleExpression>
            <id>ace8c8d3-f48c-4281-b920-34b308b02daa</id>
            <parentID>a5e4510b-05fc-4335-bad4-6d992e419ebf</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>850215bd-55c8-46aa-8be7-c921461c3d98</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>850215bd-55c8-46aa-8be7-c921461c3d98</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"receivePrice")</value>
        </simpleExpression>
        <simpleExpression>
            <id>15cb1034-0abe-48c2-9db8-99c003c27b01</id>
            <parentID />
            <source />
            <type />
            <valueType />
            <value />
        </simpleExpression>
        <simpleExpression>
            <id>451ff76c-b3f7-461f-a70a-c9ae8668635e</id>
            <parentID />
            <source />
            <type />
            <valueType />
            <value />
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>9c7c86ad-40ee-46be-af53-412aca37105b</id>
            <name>BreedEntry_breedDataName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].description</description>
            <expressionID>9db7f166-6714-41c3-91cb-006245d15005</expressionID>
        </action>
        <action>
            <id>a8e82f91-65c4-4e01-b18a-556a265318df</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</expressionID>
        </action>
        <action>
            <id>ba8ce8a0-ae3b-40db-8b56-4ee5dad6e198</id>
            <name>entrys_model_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_model_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_model_ActionInfo].description</description>
            <expressionID>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</expressionID>
        </action>
        <action>
            <id>f5b243da-b922-4811-b26f-d96ce8b25995</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>ce7e129c-5c57-4d64-873d-eb3e6d71d0f3</expressionID>
        </action>
        <action>
            <id>81337015-de7c-489e-a226-ba2999c0961e</id>
            <name>CZDFO0PA</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZDFO0PA].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZDFO0PA].description</description>
            <expressionID>7e7d781c-b595-4374-b0cb-0590a50e0296</expressionID>
        </action>
        <action>
            <id>f28de19c-348f-464e-ad05-1ca192ce4018</id>
            <name>CZOC_WHP</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WHP].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WHP].description</description>
            <expressionID>e79645ae-0e82-4bf6-907b-af1f35d9aff7</expressionID>
        </action>
        <action>
            <id>89ded6ee-c67b-4a75-9e6e-264b81f24ea3</id>
            <name>CZOC_WII</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WII].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WII].description</description>
            <expressionID>15cb1034-0abe-48c2-9db8-99c003c27b01</expressionID>
        </action>
        <action>
            <id>eaa6b6a9-ee76-4b03-9bcb-5e316af384d2</id>
            <name>CZOC$FMP</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC$FMP].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC$FMP].description</description>
            <expressionID>451ff76c-b3f7-461f-a70a-c9ae8668635e</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>entrys_model_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_model_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_model_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="ba8ce8a0-ae3b-40db-8b56-4ee5dad6e198" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>entrys_materialName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="f5b243da-b922-4811-b26f-d96ce8b25995" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>CZDFO0PA</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZDFO0PA].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZDFO0PA].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="81337015-de7c-489e-a226-ba2999c0961e" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>CZOC$8VP</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$8VP].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$8VP].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="f28de19c-348f-464e-ad05-1ca192ce4018" />
                </action>
            </actions>
            <exceptionActions>
                <action>
                    <key name="id" value="89ded6ee-c67b-4a75-9e6e-264b81f24ea3" />
                </action>
            </exceptionActions>
        </conditionRule>
        <conditionRule>
            <name>CZOC$KYO</name>
            <alias>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$KYO].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$KYO].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="f28de19c-348f-464e-ad05-1ca192ce4018" />
                </action>
            </actions>
            <exceptionActions>
                <action>
                    <key name="id" value="eaa6b6a9-ee76-4b03-9bcb-5e316af384d2" />
                </action>
            </exceptionActions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZDFO0PA].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZDFO0PA].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC$FMP].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC$FMP].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WHP].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="计算金额1" />
            <lang locale="zh_HK" value="計算金額1" />
            <lang locale="zh_TW" value="計算金額1" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WHP].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WII].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[CZOC_WII].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_materialName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_materialName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_model_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].actions.action[entrys_model_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZDFO0PA].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="带出计量单位" />
            <lang locale="zh_HK" value="帶出計量單位" />
            <lang locale="zh_TW" value="帶出計量單位" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZDFO0PA].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZDFO0PA].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$8VP].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="计算金额" />
            <lang locale="zh_HK" value="計算金額" />
            <lang locale="zh_TW" value="計算金額" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$8VP].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$8VP].extendedProperty.columnName">
            <lang locale="en_US" value="qty" />
            <lang locale="zh_CN" value="qty" />
            <lang locale="zh_TW" value="qty" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$KYO].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="计算金额1" />
            <lang locale="zh_HK" value="計算金額1" />
            <lang locale="zh_TW" value="計算金額1" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$KYO].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[CZOC$KYO].extendedProperty.columnName">
            <lang locale="en_US" value="receivePrice" />
            <lang locale="zh_CN" value="receivePrice" />
            <lang locale="zh_TW" value="receivePrice" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_model_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_model_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_model_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.stocking.processbizill.app.EggRecycleRuleSet].rules.conditionRule[entrys_model_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

