<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.bdm.bdapply.app</package>
    <name>MaterialInfoReqRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].description</description>
    <userDefined>true</userDefined>
    <conditions>
        <baseCondition>
            <id>9ba9aa0f-7a5e-48dd-aba5-740cdc1266b2</id>
            <name>B6A9DWAC</name>
            <alias>ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6A9DWAC].alias</alias>
            <description>ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6A9DWAC].description</description>
            <expressionID />
        </baseCondition>
        <baseCondition>
            <id>795913b2-8748-4816-a6f8-2408eda7499f</id>
            <name>B6DAKA2C</name>
            <alias>ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6DAKA2C].alias</alias>
            <description>ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6DAKA2C].description</description>
            <expressionID />
        </baseCondition>
    </conditions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6A9DWAC].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6A9DWAC].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6DAKA2C].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].conditions.baseCondition[B6DAKA2C].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.bdm.bdapply.app.MaterialInfoReqRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

