<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.dayratecost.app</package>
    <name>ArAmountOffsetDetailBillRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>9db7f166-6714-41c3-91cb-006245d15005</id>
            <parentID />
            <source>BreedEntry.breedDataName=BreedEntry.breedDate.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>67d89e2d-0542-4eec-a10e-56ac02318499</id>
            <parentID>9db7f166-6714-41c3-91cb-006245d15005</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9a6afe63-d026-4238-bdce-550d01252027</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9a6afe63-d026-4238-bdce-550d01252027</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtBreedEntry.getCell(rowIndex,"breedDataName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>3807c5b3-9c48-445b-88db-bd35a9870981</id>
            <parentID>9db7f166-6714-41c3-91cb-006245d15005</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>bd33f633-6a66-4b1e-b05a-b0ebbbaff92c</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>16d50363-d71e-4126-87d8-5b2b543a8438</id>
                        <expressionID>bcd0edef-f9cd-47ae-84be-b78975d6b6fb</expressionID>
                    </parameter>
                    <parameter>
                        <id>4202e88e-7aaf-4443-9a79-bd8e14be81b6</id>
                        <expressionID>2576f475-e90d-491a-937a-ee73f8d31d42</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bd33f633-6a66-4b1e-b05a-b0ebbbaff92c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>bcd0edef-f9cd-47ae-84be-b78975d6b6fb</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>fa701ebe-c964-40c7-9e70-0695aede1e09</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>fa701ebe-c964-40c7-9e70-0695aede1e09</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtBreedEntry.getCell(rowIndex,"breedDate")</value>
        </simpleExpression>
        <simpleExpression>
            <id>2576f475-e90d-491a-937a-ee73f8d31d42</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>0e05e7ef-4c27-426d-9467-3ea986ac0318</id>
            <parentID>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>b0cee735-fa59-4789-b531-eb4fd5d76e6e</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>b0cee735-fa59-4789-b531-eb4fd5d76e6e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>abff4fc9-e193-4e8c-b6ee-fd55c976fddf</id>
            <parentID>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3c96bd8c-ac18-4ff5-9ab3-3f2380971d14</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>7907876c-05cf-44b9-b970-eec224671e9a</id>
                        <expressionID>bddae08f-96df-4fc1-94c8-552df6aa464c</expressionID>
                    </parameter>
                    <parameter>
                        <id>222c1cb4-6607-4470-816a-51599a6aab2c</id>
                        <expressionID>bc93c8bf-41eb-4c20-86f7-717adf041647</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3c96bd8c-ac18-4ff5-9ab3-3f2380971d14</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>bddae08f-96df-4fc1-94c8-552df6aa464c</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>731e2bda-3166-4943-bcc9-207d55e992e1</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>731e2bda-3166-4943-bcc9-207d55e992e1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>bc93c8bf-41eb-4c20-86f7-717adf041647</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</id>
            <parentID />
            <source>entrys.model=entrys.material.model</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>ea27c008-41aa-4e48-83ec-0a699d4d9259</id>
            <parentID>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>5cd995ed-70f6-4163-96a6-e3d0f1d1ba9d</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>5cd995ed-70f6-4163-96a6-e3d0f1d1ba9d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"model")</value>
        </simpleExpression>
        <simpleExpression>
            <id>c1bed17f-a0e3-4994-a3ff-2086385734e0</id>
            <parentID>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3f3f7895-73de-4352-9eea-8e27ca0f469f</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>0d3ee0b5-da61-4b65-ae97-d456cf456dd6</id>
                        <expressionID>8cea67f4-cdaa-4405-8fbe-519e307ba20b</expressionID>
                    </parameter>
                    <parameter>
                        <id>0f8981d8-732d-4fed-87e5-3b4375a4b624</id>
                        <expressionID>77a0fd09-9428-4b00-9093-834921b973f8</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3f3f7895-73de-4352-9eea-8e27ca0f469f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>8cea67f4-cdaa-4405-8fbe-519e307ba20b</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>0ab4dc60-39a2-4564-bf78-4e1208151a71</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>0ab4dc60-39a2-4564-bf78-4e1208151a71</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>77a0fd09-9428-4b00-9093-834921b973f8</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>model</value>
        </simpleExpression>
        <groupExpression>
            <id>ecbcfbab-d8d4-4b77-8194-f082fcdfaf98</id>
            <parentID />
            <source>[unOffsetAmount] = [allArAmount] - [offsetAmount]</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>06631a2f-35f0-488d-94a7-4f2383c5f7e6</id>
            <parentID>ecbcfbab-d8d4-4b77-8194-f082fcdfaf98</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>ba032711-d889-48a8-8c52-4153aa93c7d1</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>ba032711-d889-48a8-8c52-4153aa93c7d1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtunOffsetAmount</value>
        </simpleExpression>
        <groupExpression>
            <id>abddbb39-82a3-4e57-a031-9aa7c30814f4</id>
            <parentID>ecbcfbab-d8d4-4b77-8194-f082fcdfaf98</parentID>
            <source />
            <operator>-</operator>
        </groupExpression>
        <simpleExpression>
            <id>28b77e8c-2e24-45a2-be0b-f62803d7e621</id>
            <parentID>abddbb39-82a3-4e57-a031-9aa7c30814f4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>614e033f-0b1d-48a3-9b0d-90a63ea7c277</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>614e033f-0b1d-48a3-9b0d-90a63ea7c277</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtallArAmount</value>
        </simpleExpression>
        <simpleExpression>
            <id>72d0a3c2-129e-416e-9581-c55311f87048</id>
            <parentID>abddbb39-82a3-4e57-a031-9aa7c30814f4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>e36e5ce9-e084-4f4d-9788-dabb5f1f2556</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>e36e5ce9-e084-4f4d-9788-dabb5f1f2556</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtoffsetAmount</value>
        </simpleExpression>
        <simpleExpression>
            <id>7443a0f7-4de6-4282-8a88-19e3bab66781</id>
            <parentID />
            <source />
            <type />
            <valueType />
            <value />
        </simpleExpression>
        <simpleExpression>
            <id>0dadc3fc-c714-4cf7-a16a-33b729b0603e</id>
            <parentID />
            <source />
            <type />
            <valueType />
            <value />
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>9c7c86ad-40ee-46be-af53-412aca37105b</id>
            <name>BreedEntry_breedDataName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].description</description>
            <expressionID>9db7f166-6714-41c3-91cb-006245d15005</expressionID>
        </action>
        <action>
            <id>a8e82f91-65c4-4e01-b18a-556a265318df</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>f0d69a48-f3f0-4abc-92ee-0f53425ecab4</expressionID>
        </action>
        <action>
            <id>ba8ce8a0-ae3b-40db-8b56-4ee5dad6e198</id>
            <name>entrys_model_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_model_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_model_ActionInfo].description</description>
            <expressionID>9813fc6b-12e4-4ed2-a2fa-21849a6f5fc4</expressionID>
        </action>
        <action>
            <id>faa736e2-a36b-4417-a016-03001933c5d2</id>
            <name>D26WG4UZ</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4UZ].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4UZ].description</description>
            <expressionID>ecbcfbab-d8d4-4b77-8194-f082fcdfaf98</expressionID>
        </action>
        <action>
            <id>41db6df2-6363-4c32-a965-e0c0c82d96e8</id>
            <name>D26WGNOH</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WGNOH].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WGNOH].description</description>
            <expressionID>7443a0f7-4de6-4282-8a88-19e3bab66781</expressionID>
        </action>
        <action>
            <id>cc0d6433-f21a-4676-a36c-77c51c1bbb0b</id>
            <name>D26WG4VS</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4VS].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4VS].description</description>
            <expressionID>0dadc3fc-c714-4cf7-a16a-33b729b0603e</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>D26WGPX1</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGPX1].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGPX1].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="faa736e2-a36b-4417-a016-03001933c5d2" />
                </action>
            </actions>
            <exceptionActions>
                <action>
                    <key name="id" value="41db6df2-6363-4c32-a965-e0c0c82d96e8" />
                </action>
            </exceptionActions>
        </conditionRule>
        <conditionRule>
            <name>D26WGFB_</name>
            <alias>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGFB_].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGFB_].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="faa736e2-a36b-4417-a016-03001933c5d2" />
                </action>
            </actions>
            <exceptionActions>
                <action>
                    <key name="id" value="cc0d6433-f21a-4676-a36c-77c51c1bbb0b" />
                </action>
            </exceptionActions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[BreedEntry_breedDataName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4UZ].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="计算未冲销" />
            <lang locale="zh_HK" value="計算未沖銷" />
            <lang locale="zh_TW" value="計算未沖銷" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4UZ].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4VS].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WG4VS].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WGNOH].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[D26WGNOH].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_materialName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_model_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].actions.action[entrys_model_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGFB_].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="CalculateEvent0001" />
            <lang locale="zh_HK" value="CalculateEvent0001" />
            <lang locale="zh_TW" value="CalculateEvent0001" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGFB_].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGFB_].extendedProperty.columnName">
            <lang locale="en_US" value="offsetAmount" />
            <lang locale="zh_CN" value="offsetAmount" />
            <lang locale="zh_TW" value="offsetAmount" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGPX1].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="CalculateEvent0002" />
            <lang locale="zh_HK" value="CalculateEvent0002" />
            <lang locale="zh_TW" value="CalculateEvent0002" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGPX1].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.dayratecost.app.ArAmountOffsetDetailBillRuleSet].rules.conditionRule[D26WGPX1].extendedProperty.columnName">
            <lang locale="en_US" value="allArAmount" />
            <lang locale="zh_CN" value="allArAmount" />
            <lang locale="zh_TW" value="allArAmount" />
        </rs>
    </resource>
</ruleSet>

