<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.food.stocount.app</package>
    <name>SemiProductCountRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>7fd4eaba-d1c1-4ce4-ab97-b1228463c37a</id>
            <parentID />
            <source>materialtype=material.model</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>2c9ec3ed-5afd-411c-9227-aad195ee1218</id>
            <parentID>7fd4eaba-d1c1-4ce4-ab97-b1228463c37a</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>4f17ecfb-ea49-4223-b690-391e51f5ea1a</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>4f17ecfb-ea49-4223-b690-391e51f5ea1a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtmaterialtype</value>
        </simpleExpression>
        <simpleExpression>
            <id>01662ae0-c4ee-4cba-a1f0-caaaedae2642</id>
            <parentID>7fd4eaba-d1c1-4ce4-ab97-b1228463c37a</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>10dc28f8-76d0-497b-9979-921a753c2fb2</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>78d62bb0-60f8-4416-a7d8-edc5dea9adac</id>
                        <expressionID>fca7fd47-34dc-435e-bafd-355dc9bc1a47</expressionID>
                    </parameter>
                    <parameter>
                        <id>744cd5ea-bc2e-4819-9e7c-11bbed60ef97</id>
                        <expressionID>f864f73c-e561-40e8-bd5a-bfc9ff0b3b14</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>10dc28f8-76d0-497b-9979-921a753c2fb2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>fca7fd47-34dc-435e-bafd-355dc9bc1a47</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>537fa49c-69ca-4ac6-8e70-984a21d6b755</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>537fa49c-69ca-4ac6-8e70-984a21d6b755</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtmaterial</value>
        </simpleExpression>
        <simpleExpression>
            <id>f864f73c-e561-40e8-bd5a-bfc9ff0b3b14</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>model</value>
        </simpleExpression>
        <groupExpression>
            <id>a88a3b48-fd3c-437e-bf86-fed0274b0e0d</id>
            <parentID />
            <source>mbaseunit=material.baseUnit.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>8b97e407-4203-4bcd-9a21-784038746333</id>
            <parentID>a88a3b48-fd3c-437e-bf86-fed0274b0e0d</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>c86c90f1-8cb0-4c01-9cf4-c75c504b7395</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>c86c90f1-8cb0-4c01-9cf4-c75c504b7395</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtmbaseunit</value>
        </simpleExpression>
        <simpleExpression>
            <id>dca5e655-e74e-4a0f-a937-8e504952678e</id>
            <parentID>a88a3b48-fd3c-437e-bf86-fed0274b0e0d</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>b22fc278-79f0-4d1c-9b7e-41e1dd1d5941</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>4482c739-3d30-4e28-be0b-eeeffd93f2bf</id>
                        <expressionID>5c5da2fb-4f4e-40f6-81f9-b463025f22ac</expressionID>
                    </parameter>
                    <parameter>
                        <id>fcf592a7-0b82-4f38-9388-47093fbfc992</id>
                        <expressionID>52b48751-565e-4630-a8eb-dc1e1dc62d1f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b22fc278-79f0-4d1c-9b7e-41e1dd1d5941</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>5c5da2fb-4f4e-40f6-81f9-b463025f22ac</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>41eed1a8-b36e-4352-a17f-e6f4cdbbd50c</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>41eed1a8-b36e-4352-a17f-e6f4cdbbd50c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtmaterial</value>
        </simpleExpression>
        <simpleExpression>
            <id>52b48751-565e-4630-a8eb-dc1e1dc62d1f</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>baseUnit.name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>74133611-fedd-4993-9708-f3e2f51a2144</id>
            <name>SemiProductCount_materialtype_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_materialtype_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_materialtype_ActionInfo].description</description>
            <expressionID>7fd4eaba-d1c1-4ce4-ab97-b1228463c37a</expressionID>
        </action>
        <action>
            <id>997f907a-25ac-46f9-8318-006d87b8f86f</id>
            <name>SemiProductCount_mbaseunit_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_mbaseunit_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_mbaseunit_ActionInfo].description</description>
            <expressionID>a88a3b48-fd3c-437e-bf86-fed0274b0e0d</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>SemiProductCount_mbaseunit_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].rules.conditionRule[SemiProductCount_mbaseunit_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].rules.conditionRule[SemiProductCount_mbaseunit_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="997f907a-25ac-46f9-8318-006d87b8f86f" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_materialtype_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_materialtype_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_mbaseunit_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_baseUnit" />
            <lang locale="zh_HK" value="攜帶字段屬性_baseUnit" />
            <lang locale="zh_TW" value="攜帶字段屬性_baseUnit" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].actions.action[SemiProductCount_mbaseunit_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].rules.conditionRule[SemiProductCount_mbaseunit_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_baseUnit" />
            <lang locale="zh_HK" value="攜帶字段屬性_baseUnit" />
            <lang locale="zh_TW" value="攜帶字段屬性_baseUnit" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].rules.conditionRule[SemiProductCount_mbaseunit_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].rules.conditionRule[SemiProductCount_mbaseunit_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.stocount.app.SemiProductCountRuleSet].rules.conditionRule[SemiProductCount_mbaseunit_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

