<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.food.app</package>
    <name>FoodSendCarPlanRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>49ccb413-5868-4b4d-9cff-b98621bfd115</id>
            <parentID />
            <source>[allQty] =0</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>7c16404b-a3ff-42e2-b7e2-a98862e812c5</id>
            <parentID>49ccb413-5868-4b4d-9cff-b98621bfd115</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>37acc2aa-ed4f-4d9a-a79e-aae8960331cc</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>37acc2aa-ed4f-4d9a-a79e-aae8960331cc</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtallQty</value>
        </simpleExpression>
        <simpleExpression>
            <id>eb900637-527a-49e2-9543-7ebdd0a78f28</id>
            <parentID>49ccb413-5868-4b4d-9cff-b98621bfd115</parentID>
            <source />
            <type>CONST</type>
            <valueType>Int</valueType>
            <value>0</value>
        </simpleExpression>
        <simpleExpression>
            <id>648bde7b-2f8a-498c-83a2-5fea4eddc7ee</id>
            <parentID />
            <source />
            <type />
            <valueType />
            <value />
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>f4f94e0b-e8ca-4298-9149-c57212e1398c</id>
            <name>CLEQ8UEL</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8UEL].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8UEL].description</description>
            <expressionID>49ccb413-5868-4b4d-9cff-b98621bfd115</expressionID>
        </action>
        <action>
            <id>48de8b19-7d50-49d5-8474-433c83673951</id>
            <name>CLEQ8A85</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8A85].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8A85].description</description>
            <expressionID>648bde7b-2f8a-498c-83a2-5fea4eddc7ee</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>FoodSendCarPlanCLEQ8UEZ</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].rules.conditionRule[FoodSendCarPlanCLEQ8UEZ].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].rules.conditionRule[FoodSendCarPlanCLEQ8UEZ].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="f4f94e0b-e8ca-4298-9149-c57212e1398c" />
                </action>
            </actions>
            <exceptionActions>
                <action>
                    <key name="id" value="48de8b19-7d50-49d5-8474-433c83673951" />
                </action>
            </exceptionActions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8A85].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8A85].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8UEL].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="顺序号更新" />
            <lang locale="zh_HK" value="順序號更新" />
            <lang locale="zh_TW" value="順序號更新" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].actions.action[CLEQ8UEL].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].rules.conditionRule[FoodSendCarPlanCLEQ8UEZ].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="顺序号更新" />
            <lang locale="zh_HK" value="順序號更新" />
            <lang locale="zh_TW" value="順序號更新" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].rules.conditionRule[FoodSendCarPlanCLEQ8UEZ].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FoodSendCarPlanRuleSet].rules.conditionRule[FoodSendCarPlanCLEQ8UEZ].extendedProperty.columnName">
            <lang locale="en_US" value="order" />
            <lang locale="zh_CN" value="order" />
            <lang locale="zh_TW" value="order" />
        </rs>
    </resource>
</ruleSet>

