<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.farm.food.app</package>
    <name>FreshCountBillRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>0bb88a5a-e0aa-45b9-9e9d-d923dffd504f</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>01f98dfb-ac5c-45a0-a5f0-acac77d7df81</id>
            <parentID>0bb88a5a-e0aa-45b9-9e9d-d923dffd504f</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9f5e4574-1086-44a5-afa8-aaf146d7e8b1</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9f5e4574-1086-44a5-afa8-aaf146d7e8b1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>3fe517e5-b225-4eb2-95b3-7b4ef74b62f1</id>
            <parentID>0bb88a5a-e0aa-45b9-9e9d-d923dffd504f</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>b0a29adb-0e3d-4ef3-ac73-bb3be1292bf5</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>95e9dbc4-3f67-4d63-9ffe-290620f96a3f</id>
                        <expressionID>338d041a-79f4-405d-9687-ce0ab9cb2c0b</expressionID>
                    </parameter>
                    <parameter>
                        <id>07412cb0-2532-4b1d-b67a-f195853c51a7</id>
                        <expressionID>7a9f2564-394d-45b8-a358-180b516c43ce</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b0a29adb-0e3d-4ef3-ac73-bb3be1292bf5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>338d041a-79f4-405d-9687-ce0ab9cb2c0b</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>2b402a12-8f64-44f7-b176-8a01beec0246</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>2b402a12-8f64-44f7-b176-8a01beec0246</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>7a9f2564-394d-45b8-a358-180b516c43ce</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>bdffa79d-24eb-49af-ab77-3e8984aadb18</id>
            <parentID />
            <source>entrys.materialName=entrys.material.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>ce352c22-fc70-4dd8-9f99-bd66f580dca7</id>
            <parentID>bdffa79d-24eb-49af-ab77-3e8984aadb18</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>529a584c-f55c-43e0-b2d8-87202bede727</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>529a584c-f55c-43e0-b2d8-87202bede727</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"materialName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>e99ea30c-55d8-489e-b1da-5dad9e316561</id>
            <parentID>bdffa79d-24eb-49af-ab77-3e8984aadb18</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>54a99eef-180e-4a1b-908d-72f3286c26b5</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>e42bf8ca-b289-440d-a845-e206e3f0bb8c</id>
                        <expressionID>70d55a79-932f-405c-9965-be37ba6f28c7</expressionID>
                    </parameter>
                    <parameter>
                        <id>954943c7-0448-46d5-aed1-2e05edf9196b</id>
                        <expressionID>a3ada4fb-2b85-45ad-9939-f94beb5b7f11</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>54a99eef-180e-4a1b-908d-72f3286c26b5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>70d55a79-932f-405c-9965-be37ba6f28c7</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>cfe55f93-d46d-40f8-9472-101882ed8591</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>cfe55f93-d46d-40f8-9472-101882ed8591</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>a3ada4fb-2b85-45ad-9939-f94beb5b7f11</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
        <groupExpression>
            <id>b42ce2f8-e66c-47d5-bf37-9a8d6ac152ff</id>
            <parentID />
            <source>entrys.model=entrys.material.model</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>30dffa0f-73d7-47a0-87b9-b461c99b20c8</id>
            <parentID>b42ce2f8-e66c-47d5-bf37-9a8d6ac152ff</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>8ba3380c-ee12-4dec-9140-0499f702e116</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>8ba3380c-ee12-4dec-9140-0499f702e116</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"model")</value>
        </simpleExpression>
        <simpleExpression>
            <id>214209b0-9d24-46b4-8723-132b62c0a153</id>
            <parentID>b42ce2f8-e66c-47d5-bf37-9a8d6ac152ff</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>bc7caec5-98cd-40a9-96a2-d6a74c31e9e0</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>f24e75fb-48f8-4655-8f94-76430ff319fc</id>
                        <expressionID>5a099047-c0e6-4e96-9354-67bb694dc9d9</expressionID>
                    </parameter>
                    <parameter>
                        <id>7cf3eba7-048d-43c8-97ef-1e593032311f</id>
                        <expressionID>3e1e7669-892c-429c-8c33-c8dab68c8ecb</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bc7caec5-98cd-40a9-96a2-d6a74c31e9e0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>5a099047-c0e6-4e96-9354-67bb694dc9d9</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>132e3572-49f7-4e5f-b38c-d53077994597</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>132e3572-49f7-4e5f-b38c-d53077994597</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntrys.getCell(rowIndex,"material")</value>
        </simpleExpression>
        <simpleExpression>
            <id>3e1e7669-892c-429c-8c33-c8dab68c8ecb</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>model</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>704c4aab-c9bc-4ea3-bc92-33383a89bb27</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>0bb88a5a-e0aa-45b9-9e9d-d923dffd504f</expressionID>
        </action>
        <action>
            <id>86fa0bb0-4b9b-4726-bf09-7911628ce1b9</id>
            <name>entrys_materialName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_materialName_ActionInfo].description</description>
            <expressionID>bdffa79d-24eb-49af-ab77-3e8984aadb18</expressionID>
        </action>
        <action>
            <id>e2c33066-242e-4dd2-8e29-c92a99218324</id>
            <name>entrys_model_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_model_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_model_ActionInfo].description</description>
            <expressionID>b42ce2f8-e66c-47d5-bf37-9a8d6ac152ff</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>entrys_materialName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="86fa0bb0-4b9b-4726-bf09-7911628ce1b9" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>entrys_model_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_model_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_model_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="e2c33066-242e-4dd2-8e29-c92a99218324" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_materialName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_materialName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_model_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].actions.action[entrys_model_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_materialName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_model_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_model" />
            <lang locale="zh_HK" value="攜帶字段屬性_model" />
            <lang locale="zh_TW" value="攜帶字段屬性_model" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_model_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_model_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="material" />
            <lang locale="zh_CN" value="material" />
            <lang locale="zh_TW" value="material" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.farm.food.app.FreshCountBillRuleSet].rules.conditionRule[entrys_model_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

